USE [master]
GO
/****** Object:  Database [TecnoComDB]    Script Date: 11/19/2025 9:49:35 PM ******/
CREATE DATABASE [TecnoComDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TecnoComDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TecnoComDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TecnoComDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TecnoComDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TecnoComDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TecnoComDB]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[DNI] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVV_TABLAS]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVV_TABLAS](
	[ID_DVV] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_TABLA] [varchar](50) NOT NULL,
	[DVV] [varchar](max) NOT NULL,
 CONSTRAINT [PK_DVV_TABLAS] PRIMARY KEY CLUSTERED 
(
	[ID_DVV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETIQUETA]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETIQUETA](
	[IdEtiqueta] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ETIQUETA] PRIMARY KEY CLUSTERED 
(
	[IdEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[ID_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[DNI_CLIENTE] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[TOTAL] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA_PRODUCTO]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA_PRODUCTO](
	[ID_FACTURA] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[SUBTOTAL] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idiomas]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idiomas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso](
	[nombre] [varchar](100) NULL,
	[es_patente] [bit] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_permiso_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso_permiso]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso_permiso](
	[id_permiso_padre] [int] NULL,
	[id_permiso_hijo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso_usuario]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso_usuario](
	[id_usuario] [int] NOT NULL,
	[id_permiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
	[PRECIO] [decimal](18, 0) NOT NULL,
	[STOCK] [int] NOT NULL,
	[DVH] [varchar](max) NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_HISTORIAL]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_HISTORIAL](
	[ID_HISTORIAL] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
	[PRECIO] [decimal](18, 2) NOT NULL,
	[STOCK] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ACCION] [varchar](max) NOT NULL,
	[USUARIO] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTO_HISTORIAL] PRIMARY KEY CLUSTERED 
(
	[ID_HISTORIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_PRECIO_LOG]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_PRECIO_LOG](
	[ID_PRODUCTO_PRECIO_LOG] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[PRECIO] [decimal](18, 0) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK_PRODUCTO_PRECIO_LOG] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO_PRECIO_LOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traducciones]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traducciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [nvarchar](200) NOT NULL,
	[IdiomaId] [int] NOT NULL,
	[IdEtiqueta] [int] NOT NULL,
 CONSTRAINT [PK__Traducci__3214EC0737EE29C6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[FECHA_NACIMIENTO] [datetime] NOT NULL,
	[ACTIVO] [bit] NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASSWORD_HASH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_LOG]    Script Date: 11/19/2025 9:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_LOG](
	[IDLOG] [int] IDENTITY(1,1) NOT NULL,
	[IDUSUARIO] [int] NOT NULL,
	[FECHAHORA] [datetime] NOT NULL,
	[ACCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO_LOG] PRIMARY KEY CLUSTERED 
(
	[IDLOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTE] ([DNI], [NOMBRE], [APELLIDO], [EMAIL], [ACTIVO]) VALUES (999, N'Modication', N'dasdas', N'randommail@gmail.com', 0)
INSERT [dbo].[CLIENTE] ([DNI], [NOMBRE], [APELLIDO], [EMAIL], [ACTIVO]) VALUES (123456, N'Doe', N'John', N'randommail@gmail.com', 1)
INSERT [dbo].[CLIENTE] ([DNI], [NOMBRE], [APELLIDO], [EMAIL], [ACTIVO]) VALUES (12345678, N'Juan', N'Pérez', N'juan.perez@email.com', 1)
GO
SET IDENTITY_INSERT [dbo].[DVV_TABLAS] ON 

INSERT [dbo].[DVV_TABLAS] ([ID_DVV], [NOMBRE_TABLA], [DVV]) VALUES (1, N'PRODUCTO', N'8831BF06BAED13B2CC28A8D6B0440B5B')
SET IDENTITY_INSERT [dbo].[DVV_TABLAS] OFF
GO
SET IDENTITY_INSERT [dbo].[ETIQUETA] ON 

INSERT [dbo].[ETIQUETA] ([IdEtiqueta], [Nombre]) VALUES (2, N'administracionToolStripMenuItem')
INSERT [dbo].[ETIQUETA] ([IdEtiqueta], [Nombre]) VALUES (3, N'ayudaToolStripMenuItem')
INSERT [dbo].[ETIQUETA] ([IdEtiqueta], [Nombre]) VALUES (4, N'btnAgregar')
SET IDENTITY_INSERT [dbo].[ETIQUETA] OFF
GO
SET IDENTITY_INSERT [dbo].[FACTURA] ON 

INSERT [dbo].[FACTURA] ([ID_FACTURA], [DNI_CLIENTE], [FECHA], [TOTAL]) VALUES (12, 123456, CAST(N'2025-07-15T23:30:08.177' AS DateTime), CAST(1395000 AS Decimal(18, 0)))
INSERT [dbo].[FACTURA] ([ID_FACTURA], [DNI_CLIENTE], [FECHA], [TOTAL]) VALUES (13, 123456, CAST(N'2025-07-16T00:05:06.003' AS DateTime), CAST(2304000 AS Decimal(18, 0)))
INSERT [dbo].[FACTURA] ([ID_FACTURA], [DNI_CLIENTE], [FECHA], [TOTAL]) VALUES (14, 96153411, CAST(N'2025-07-16T01:05:47.247' AS DateTime), CAST(1692500 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[FACTURA] OFF
GO
INSERT [dbo].[FACTURA_PRODUCTO] ([ID_FACTURA], [ID_PRODUCTO], [CANTIDAD], [SUBTOTAL]) VALUES (12, 1, 20, CAST(90000 AS Decimal(18, 0)))
INSERT [dbo].[FACTURA_PRODUCTO] ([ID_FACTURA], [ID_PRODUCTO], [CANTIDAD], [SUBTOTAL]) VALUES (12, 4, 13, CAST(455000 AS Decimal(18, 0)))
INSERT [dbo].[FACTURA_PRODUCTO] ([ID_FACTURA], [ID_PRODUCTO], [CANTIDAD], [SUBTOTAL]) VALUES (12, 3, 10, CAST(850000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[Idiomas] ON 

INSERT [dbo].[Idiomas] ([Id], [Nombre], [Codigo]) VALUES (1, N'English', N'en')
INSERT [dbo].[Idiomas] ([Id], [Nombre], [Codigo]) VALUES (2, N'Español', N'es')
SET IDENTITY_INSERT [dbo].[Idiomas] OFF
GO
SET IDENTITY_INSERT [dbo].[permiso] ON 

INSERT [dbo].[permiso] ([nombre], [es_patente], [id]) VALUES (N'clientes', 1, 1)
INSERT [dbo].[permiso] ([nombre], [es_patente], [id]) VALUES (N'proveedores', 1, 2)
INSERT [dbo].[permiso] ([nombre], [es_patente], [id]) VALUES (N'compras', 1, 3)
SET IDENTITY_INSERT [dbo].[permiso] OFF
GO
INSERT [dbo].[permiso_permiso] ([id_permiso_padre], [id_permiso_hijo]) VALUES (NULL, 8)
INSERT [dbo].[permiso_permiso] ([id_permiso_padre], [id_permiso_hijo]) VALUES (11, 5)
INSERT [dbo].[permiso_permiso] ([id_permiso_padre], [id_permiso_hijo]) VALUES (10, 4)
GO
INSERT [dbo].[permiso_usuario] ([id_usuario], [id_permiso]) VALUES (1, 8)
INSERT [dbo].[permiso_usuario] ([id_usuario], [id_permiso]) VALUES (2, 11)
INSERT [dbo].[permiso_usuario] ([id_usuario], [id_permiso]) VALUES (5, 10)
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO], [STOCK], [DVH]) VALUES (1, N'Mouse Gamer', N'Mouse óptico con 6 botones y luces LED RGB', CAST(9500 AS Decimal(18, 0)), 200, N'D06CF52D62C4F388180DE0B1BC7E7042')
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO], [STOCK], [DVH]) VALUES (2, N'Teclado Mecánico', N'Teclado con switches azules y retroiluminación RGB', CAST(15500 AS Decimal(18, 0)), 173, N'953E60A35CCA7951DE9554CAA7C21939')
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO], [STOCK], [DVH]) VALUES (3, N'Monitor 24"', N'Monitor LED Full HD con entrada HDMI y VGA', CAST(81500 AS Decimal(18, 0)), 213, N'4C211580EB1995296113C4896B6E66B8')
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO_HISTORIAL] ON 

INSERT [dbo].[PRODUCTO_HISTORIAL] ([ID_HISTORIAL], [ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO], [STOCK], [FECHA], [ACCION], [USUARIO]) VALUES (1, 1, N'Mouse Gamer', N'Mouse óptico con 6 botones y luces LED RGB', CAST(9500.00 AS Decimal(18, 2)), 200, CAST(N'2025-11-19T18:32:14.890' AS DateTime), N'Modificacion_Producto', 1)
INSERT [dbo].[PRODUCTO_HISTORIAL] ([ID_HISTORIAL], [ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO], [STOCK], [FECHA], [ACCION], [USUARIO]) VALUES (2, 2, N'Teclado Mecánico', N'Teclado con switches azules y retroiluminación RGB', CAST(15500.00 AS Decimal(18, 2)), 173, CAST(N'2025-11-19T18:32:31.853' AS DateTime), N'Modificacion_Producto', 1)
INSERT [dbo].[PRODUCTO_HISTORIAL] ([ID_HISTORIAL], [ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO], [STOCK], [FECHA], [ACCION], [USUARIO]) VALUES (3, 3, N'Monitor 24"', N'Monitor LED Full HD con entrada HDMI y VGA', CAST(81500.00 AS Decimal(18, 2)), 213, CAST(N'2025-11-19T18:32:40.173' AS DateTime), N'Modificacion_Producto', 1)
SET IDENTITY_INSERT [dbo].[PRODUCTO_HISTORIAL] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO_PRECIO_LOG] ON 

INSERT [dbo].[PRODUCTO_PRECIO_LOG] ([ID_PRODUCTO_PRECIO_LOG], [ID_PRODUCTO], [PRECIO], [ID_USUARIO], [FECHA]) VALUES (1, 1, CAST(5000 AS Decimal(18, 0)), 1, CAST(N'2025-10-16T00:35:07.877' AS DateTime))
INSERT [dbo].[PRODUCTO_PRECIO_LOG] ([ID_PRODUCTO_PRECIO_LOG], [ID_PRODUCTO], [PRECIO], [ID_USUARIO], [FECHA]) VALUES (2, 1, CAST(15000 AS Decimal(18, 0)), 1, CAST(N'2025-10-18T19:41:54.643' AS DateTime))
INSERT [dbo].[PRODUCTO_PRECIO_LOG] ([ID_PRODUCTO_PRECIO_LOG], [ID_PRODUCTO], [PRECIO], [ID_USUARIO], [FECHA]) VALUES (3, 2, CAST(13000 AS Decimal(18, 0)), 1, CAST(N'2025-10-18T19:42:05.300' AS DateTime))
SET IDENTITY_INSERT [dbo].[PRODUCTO_PRECIO_LOG] OFF
GO
SET IDENTITY_INSERT [dbo].[Traducciones] ON 

INSERT [dbo].[Traducciones] ([Id], [Texto], [IdiomaId], [IdEtiqueta]) VALUES (1, N'TecnoCom - Management System', 1, 35)
INSERT [dbo].[Traducciones] ([Id], [Texto], [IdiomaId], [IdEtiqueta]) VALUES (2, N'Clients', 1, 30)
INSERT [dbo].[Traducciones] ([Id], [Texto], [IdiomaId], [IdEtiqueta]) VALUES (3, N'Manage Clients', 1, 43)
GO
SET IDENTITY_INSERT [dbo].[Traducciones] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([IDUSUARIO], [NOMBRE], [APELLIDO], [FECHA_NACIMIENTO], [ACTIVO], [EMAIL], [PASSWORD_HASH]) VALUES (1, N'Arlando A', N'Ifrene', CAST(N'1998-06-09T00:00:00.000' AS DateTime), 1, N'ifrene.arlando@tecnocom.com', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=')
INSERT [dbo].[USUARIO] ([IDUSUARIO], [NOMBRE], [APELLIDO], [FECHA_NACIMIENTO], [ACTIVO], [EMAIL], [PASSWORD_HASH]) VALUES (2, N'Eduardo', N'Galeano', CAST(N'1940-09-03T00:00:00.000' AS DateTime), 1, N'eduardo.galeano@tecnocom.com', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=')
INSERT [dbo].[USUARIO] ([IDUSUARIO], [NOMBRE], [APELLIDO], [FECHA_NACIMIENTO], [ACTIVO], [EMAIL], [PASSWORD_HASH]) VALUES (5, N'john', N'doe', CAST(N'2003-10-06T00:00:00.000' AS DateTime), 1, N'john@tecnocom.com', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO_LOG] ON 

INSERT [dbo].[USUARIO_LOG] ([IDLOG], [IDUSUARIO], [FECHAHORA], [ACCION]) VALUES (27, 1, CAST(N'2025-05-16T09:17:46.993' AS DateTime), N'Login')
INSERT [dbo].[USUARIO_LOG] ([IDLOG], [IDUSUARIO], [FECHAHORA], [ACCION]) VALUES (28, 1, CAST(N'2025-05-16T09:17:51.613' AS DateTime), N'Logout')
INSERT [dbo].[USUARIO_LOG] ([IDLOG], [IDUSUARIO], [FECHAHORA], [ACCION]) VALUES (29, 1, CAST(N'2025-05-29T19:13:29.920' AS DateTime), N'Login')
GO
SET IDENTITY_INSERT [dbo].[USUARIO_LOG] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Idiomas__06370DAC6D321742]    Script Date: 11/19/2025 9:49:36 PM ******/
ALTER TABLE [dbo].[Idiomas] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRODUCTO_HISTORIAL] ADD  CONSTRAINT [DF__PRODUCTO___FECHA__1C873BEC]  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[permiso_permiso]  WITH CHECK ADD  CONSTRAINT [FK_permiso_permiso_permiso] FOREIGN KEY([id_permiso_padre])
REFERENCES [dbo].[permiso] ([id])
GO
ALTER TABLE [dbo].[permiso_permiso] CHECK CONSTRAINT [FK_permiso_permiso_permiso]
GO
ALTER TABLE [dbo].[permiso_permiso]  WITH CHECK ADD  CONSTRAINT [FK_permiso_permiso_permiso1] FOREIGN KEY([id_permiso_hijo])
REFERENCES [dbo].[permiso] ([id])
GO
ALTER TABLE [dbo].[permiso_permiso] CHECK CONSTRAINT [FK_permiso_permiso_permiso1]
GO
ALTER TABLE [dbo].[permiso_usuario]  WITH CHECK ADD FOREIGN KEY([id_permiso])
REFERENCES [dbo].[permiso] ([id])
GO
ALTER TABLE [dbo].[permiso_usuario]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[Traducciones]  WITH CHECK ADD  CONSTRAINT [FK__Traduccio__Idiom__3493CFA7] FOREIGN KEY([IdiomaId])
REFERENCES [dbo].[Idiomas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Traducciones] CHECK CONSTRAINT [FK__Traduccio__Idiom__3493CFA7]
GO
/****** Object:  StoredProcedure [dbo].[ALTA_CLIENTE]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALTA_CLIENTE]

@DNI INT,
@NOMBRE VARCHAR(50),
@APELLIDO VARCHAR(50),
@EMAIL VARCHAR(50)

AS

BEGIN

INSERT INTO CLIENTE (DNI, NOMBRE, APELLIDO, EMAIL, ACTIVO)
VALUES (@DNI, @NOMBRE, @APELLIDO, @EMAIL, 1);


END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_FACTURA]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALTA_FACTURA]

@DNI INT,
@TOTAL DECIMAL(18,0),
@FECHA DATETIME,
@ID_FACTURA INT OUTPUT

AS

BEGIN

INSERT INTO DBO.FACTURA 
VALUES (@DNI, @FECHA, @TOTAL);

 SET @ID_FACTURA = SCOPE_IDENTITY();

END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_PRODUCTO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALTA_PRODUCTO]

@NOMBRE VARCHAR(50),
@DESCRIPCION VARCHAR(MAX),
@PRECIO DECIMAL(18,0),
@STOCK INT

AS

BEGIN

INSERT INTO PRODUCTO (NOMBRE, DESCRIPCION, PRECIO, STOCK)
VALUES (@NOMBRE, @DESCRIPCION, @PRECIO, @STOCK);

END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_PRODUCTO_PRECIO_LOG]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[ALTA_PRODUCTO_PRECIO_LOG]

@ID_USUARIO INT,
@ID_PRODUCTO INT,
@PRECIO DECIMAL(18,0)

AS

BEGIN

INSERT INTO PRODUCTO_PRECIO_LOG 
VALUES(@ID_PRODUCTO, @PRECIO, @ID_USUARIO, GETDATE());

END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_USUARIO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ALTA_USUARIO]
@pNOMBRE VARCHAR(50),
@pAPELLIDO VARCHAR(50),
@pFECHA_NACIMIENTO DATETIME,
@pEMAIL VARCHAR(50),
@pPASSWORD_HASH VARCHAR(50)

AS

BEGIN

INSERT INTO USUARIO ( NOMBRE, APELLIDO, FECHA_NACIMIENTO, ACTIVO, EMAIL, PASSWORD_HASH )
VALUES (@pNOMBRE, @pAPELLIDO,  @pFECHA_NACIMIENTO, 1 , @pEMAIL , @pPASSWORD_HASH );


END


GO
/****** Object:  StoredProcedure [dbo].[ALTA_UsuarioLog]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALTA_UsuarioLog]

@IDUSUARIO INT,
@ACCION VARCHAR(50)

AS

BEGIN

INSERT INTO USUARIO_LOG (IDUSUARIO, FECHAHORA, ACCION)
VALUES (@IDUSUARIO, GETDATE(), @ACCION);


END

GO
/****** Object:  StoredProcedure [dbo].[AltaItemFacturaProducto]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AltaItemFacturaProducto]

@IdFactura INT,
@IdProducto INT,
@CantidadProd INT,
@Subtotal decimal(18, 0)

AS

BEGIN

INSERT INTO DBO.FACTURA_PRODUCTO (ID_FACTURA, ID_PRODUCTO, CANTIDAD, SUBTOTAL)
VALUES (@IdFactura, @IdProducto, @CantidadProd, @Subtotal);

END

GO
/****** Object:  StoredProcedure [dbo].[BAJA_PRODUCTO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[BAJA_PRODUCTO]

@ID_PRODUCTO INT

AS

BEGIN

DELETE FROM PRODUCTO
WHERE ID_PRODUCTO = @ID_PRODUCTO;

END
GO
/****** Object:  StoredProcedure [dbo].[BAJA_USUARIO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[BAJA_USUARIO] 

@pIDUSUARIO INT

AS

BEGIN

UPDATE USUARIO
SET ACTIVO = 0 
WHERE IDUSUARIO = @pIDUSUARIO;


END
GO
/****** Object:  StoredProcedure [dbo].[BORRAR_CLIENTE]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[BORRAR_CLIENTE]

@DNI INT


AS

BEGIN

UPDATE CLIENTE
SET ACTIVO = 0
WHERE DNI = @DNI;

END


GO
/****** Object:  StoredProcedure [dbo].[LISTAR_CLIENTES]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[LISTAR_CLIENTES]

AS 

BEGIN

SELECT *
FROM CLIENTE C
WHERE C.ACTIVO = 1;

END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_FACTURAS]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LISTAR_FACTURAS]

as

begin

select *
from FACTURA F
join CLIENTE C on C.DNI = F.DNI_CLIENTE ;

end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_LOGS]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTAR_LOGS]

AS
BEGIN

SELECT * 
FROM USUARIO_LOG;

END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_LOGS_PRECIOS_PRODUCTO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTAR_LOGS_PRECIOS_PRODUCTO]

@ID_PRODUCTO INT


AS

BEGIN

SELECT * 
FROM PRODUCTO_PRECIO_LOG
WHERE ID_PRODUCTO = @ID_PRODUCTO
ORDER BY FECHA DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_LOGS_USUARIO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[LISTAR_LOGS_USUARIO]

@IDUSUARIO INT
AS

BEGIN

SELECT UL.IDLOG, UL.IDUSUARIO, UL.FECHAHORA, UL.ACCION
FROM USUARIO_LOG UL
WHERE UL.IDUSUARIO = @IDUSUARIO;


END
GO
/****** Object:  StoredProcedure [dbo].[listar_permisos_usuario]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[listar_permisos_usuario]

@ID_USER INT

AS

BEGIN

select p.id, p.nombre, p.es_patente
from  permiso_usuario pu
join permiso p on p.id = pu.id_permiso
join USUARIO U on pu.id_usuario = U.IDUSUARIO
where U.IDUSUARIO = @ID_USER;

END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PRODUCTO_FACTURA_FACTURA]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PRODUCTOS_FACTURA]    Script Date: 7/15/2025 10:52:27 PM ******/

CREATE PROC [dbo].[LISTAR_PRODUCTO_FACTURA_FACTURA]

@ID_FACTURA INT

AS

BEGIN

SELECT P.ID_PRODUCTO, P.NOMBRE, P.DESCRIPCION, P.PRECIO, P.STOCK, FP.CANTIDAD
FROM     dbo.FACTURA F
INNER JOIN dbo.FACTURA_PRODUCTO FP ON F.ID_FACTURA = FP.ID_FACTURA 
INNER JOIN dbo.PRODUCTO P ON FP.ID_PRODUCTO = P.ID_PRODUCTO
WHERE F.ID_FACTURA = @ID_FACTURA;

END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PRODUCTOS]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LISTAR_PRODUCTOS]

AS

BEGIN

SELECT * 
FROM PRODUCTO;

END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIOS]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTAR_USUARIOS] 

AS

BEGIN

SELECT U.IDUSUARIO, U.NOMBRE,U.APELLIDO ,
       U.FECHA_NACIMIENTO,U.ACTIVO , U.EMAIL, U.PASSWORD_HASH
FROM USUARIO U;


END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIOS_ACTIVOS]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LISTAR_USUARIOS_ACTIVOS] 

AS

BEGIN

SELECT U.IDUSUARIO, U.NOMBRE,U.APELLIDO ,
       U.FECHA_NACIMIENTO,U.ACTIVO , U.EMAIL, U.PASSWORD_HASH
FROM USUARIO U
WHERE U.ACTIVO = 1;


END

GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_CLIENTE]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MODIFICAR_CLIENTE]

@DNI INT,
@NOMBRE VARCHAR(50),
@APELLIDO VARCHAR(50),
@EMAIL VARCHAR(50)


AS

BEGIN

UPDATE CLIENTE
SET NOMBRE = @NOMBRE, APELLIDO = @APELLIDO, EMAIL = @EMAIL
WHERE DNI = @DNI;

END

GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_PRODUCTO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MODIFICAR_PRODUCTO]

@ID_PRODUCTO INT,
@NOMBRE VARCHAR(50),
@DESCRIPCION VARCHAR(MAX),
@PRECIO DECIMAL(18,0),
@STOCK INT


AS

BEGIN 

UPDATE PRODUCTO 
SET NOMBRE = @NOMBRE, DESCRIPCION = @DESCRIPCION, PRECIO = @PRECIO, STOCK = @STOCK
WHERE ID_PRODUCTO = @ID_PRODUCTO;



END


GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_STOCK_PRODUCTO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[MODIFICAR_STOCK_PRODUCTO]

@ID INT,
@STOCK INT

AS

BEGIN

UPDATE PRODUCTO 
SET STOCK = @STOCK
WHERE ID_PRODUCTO = @ID;

END

GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_USUARIO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[MODIFICAR_USUARIO]

@pIDUSUARIO INT,
@pNOMBRE VARCHAR(50),
@pAPELLIDO VARCHAR(50),
@pEMAIL VARCHAR(50),
@pPASSWORD_HASH VARCHAR(50),
@pACTIVO BIT


AS

BEGIN

UPDATE USUARIO
SET NOMBRE = @pNOMBRE, APELLIDO = @pAPELLIDO, EMAIL = @pEMAIL, PASSWORD_HASH = @pPASSWORD_HASH, ACTIVO = @pACTIVO
WHERE IDUSUARIO = @pIDUSUARIO;



END

GO
/****** Object:  StoredProcedure [dbo].[SP_ALTA_PERMISO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ALTA_PERMISO]
    @nombre NVARCHAR(100),
    @es_patente BIT,
    @id_padre INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO permiso (nombre, es_patente)
    VALUES (@nombre, @es_patente);

    DECLARE @nuevo_id INT = SCOPE_IDENTITY();

        INSERT INTO permiso_permiso (id_permiso_padre, id_permiso_hijo)
        VALUES (@id_padre, @nuevo_id);
   

    SELECT @nuevo_id AS id_creado;
END


GO
/****** Object:  StoredProcedure [dbo].[sp_ALTA_PERMISO_USUARIO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ALTA_PERMISO_USUARIO]

@ID_USER INT,
@ID_PERMISO INT  

AS

BEGIN
INSERT INTO permiso_usuario
VALUES (@ID_USER, @ID_PERMISO);

END

GO
/****** Object:  StoredProcedure [dbo].[SP_ASIGNAR_HIJO_A_PADRE]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ASIGNAR_HIJO_A_PADRE]
    @id_padre INT,
    @id_hijo INT
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM permiso_permiso
        WHERE id_permiso_padre = @id_padre AND id_permiso_hijo = @id_hijo
    )
    BEGIN
        INSERT INTO permiso_permiso (id_permiso_padre, id_permiso_hijo)
        VALUES (@id_padre, @id_hijo);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BAJA_PERMISO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BAJA_PERMISO]
    @id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM permiso_permiso WHERE id_permiso_hijo = @id OR id_permiso_padre = @id;
    DELETE FROM permiso WHERE id = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_BAJA_PERMISO_USUARIO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_BAJA_PERMISO_USUARIO]

@ID_USER INT,
@ID_PERMISO INT  

AS

BEGIN
DELETE FROM permiso_usuario
WHERE id_usuario = @ID_USER AND id_permiso = @ID_PERMISO;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_CANTIDAD_ACCIONES_USUARIOS]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CANTIDAD_ACCIONES_USUARIOS]

AS

BEGIN

SELECT COUNT(usrLG.IDLOG) AS CANTIDAD_LOGS 
      ,USR.NOMBRE, USR.APELLIDO,usrLG.ACCION
  
  FROM [TecnoComDB].[dbo].[USUARIO_LOG] usrLG
  JOIN  [TecnoComDB].[dbo].USUARIO USR ON USR.IDUSUARIO = usrLG.IDUSUARIO
  GROUP BY USR.NOMBRE, USR.APELLIDO,usrLG.ACCION;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_DESASIGNAR_HIJO_DE_PADRE]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DESASIGNAR_HIJO_DE_PADRE]
    @id_padre INT,
    @id_hijo INT
AS
BEGIN
    DELETE FROM permiso_permiso
    WHERE id_permiso_padre = @id_padre AND id_permiso_hijo = @id_hijo;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserActionCounts_ByMonth_CurrentYear]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetUserActionCounts_ByMonth_CurrentYear]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        DATENAME(MONTH, usrLG.FECHAHORA) AS MES,   -- Month name (e.g., 'January')
        MONTH(usrLG.FECHAHORA) AS MES_NUMERO,      -- Month number (1–12 for ordering)
        USR.NOMBRE,
        USR.APELLIDO,
        usrLG.ACCION,
        COUNT(usrLG.IDLOG) AS CANTIDAD_LOGS
    FROM dbo.USUARIO_LOG usrLG
    INNER JOIN dbo.USUARIO USR 
        ON USR.IDUSUARIO = usrLG.IDUSUARIO
    WHERE YEAR(usrLG.FECHAHORA) = YEAR(GETDATE())
    GROUP BY 
        DATENAME(MONTH, usrLG.FECHAHORA),
        MONTH(usrLG.FECHAHORA),
        USR.NOMBRE,
        USR.APELLIDO,
        usrLG.ACCION
    ORDER BY MES_NUMERO, USR.APELLIDO, USR.NOMBRE, usrLG.ACCION;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUsersActionCounts_Last30Days]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetUsersActionCounts_Last30Days]

AS

BEGIN

 SELECT 
        COUNT(usrLG.IDLOG) AS CANTIDAD_LOGS,
        USR.NOMBRE,
        USR.APELLIDO,
        usrLG.ACCION
    FROM dbo.USUARIO_LOG usrLG
    INNER JOIN dbo.USUARIO USR 
        ON USR.IDUSUARIO = usrLG.IDUSUARIO
    WHERE usrLG.FECHAHORA >= DATEADD(DAY, -30, GETDATE())
    GROUP BY USR.NOMBRE, USR.APELLIDO, usrLG.ACCION;

END

GO
/****** Object:  StoredProcedure [dbo].[sp_Idioma_Insertar]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Idioma_Insertar]
    @Nombre NVARCHAR(50),
    @Codigo NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Idiomas WHERE Codigo = @Codigo)
    BEGIN
        -- Insertar idioma
        INSERT INTO Idiomas (Nombre, Codigo) VALUES (@Nombre, @Codigo);

        -- Obtener el ID recién generado
        DECLARE @NuevoIdiomaId INT = SCOPE_IDENTITY();

        -- Insertar traducciones por cada etiqueta distinta existente
        INSERT INTO Traducciones (IdEtiqueta, Texto, IdiomaId)
        SELECT DISTINCT E.IdEtiqueta, E.Nombre, @NuevoIdiomaId
        FROM ETIQUETA E
        WHERE E.Nombre IS NOT NULL;
    END
END


GO
/****** Object:  StoredProcedure [dbo].[sp_Idioma_ObtenerTodos]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Obtener todos los idiomas
CREATE PROCEDURE [dbo].[sp_Idioma_ObtenerTodos]
AS
BEGIN
    SELECT Id, Nombre, Codigo FROM Idiomas
END

GO
/****** Object:  StoredProcedure [dbo].[sp_listarPermisos]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listarPermisos]
   
AS
BEGIN
    SELECT * FROM permiso;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICAR_PERMISO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MODIFICAR_PERMISO]
    @id INT,
    @nombre NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE permiso
    SET nombre = @nombre
    WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_obtenerJerarquiaPermisos]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_obtenerJerarquiaPermisos]
AS
BEGIN
    SET NOCOUNT ON;

    WITH recursivo AS (
        SELECT sp2.id_permiso_padre, sp2.id_permiso_hijo
        FROM permiso_permiso sp2
        WHERE sp2.id_permiso_padre IS NULL

        UNION ALL

        SELECT sp.id_permiso_padre, sp.id_permiso_hijo
        FROM permiso_permiso sp
        INNER JOIN recursivo r ON r.id_permiso_hijo = sp.id_permiso_padre
    )
    SELECT 
        r.id_permiso_padre,
        r.id_permiso_hijo,
        p.id,
        p.nombre,
        p.es_patente
    FROM recursivo r
    INNER JOIN permiso p ON r.id_permiso_hijo = p.id;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerLoginUsuarioHOY]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ObtenerLoginUsuarioHOY]
@ID INT


AS

BEGIN

SELECT U.IDUSUARIO, U.ACCION, U.FECHAHORA
FROM USUARIO_LOG U
WHERE  U.FECHAHORA = GETDATE() AND  U.IDUSUARIO = @ID AND U.ACCION = 'Login';



END

GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerLogoutUsuarioHOY]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_ObtenerLogoutUsuarioHOY]
@ID INT


AS

BEGIN

SELECT U.IDUSUARIO, U.ACCION, U.FECHAHORA
FROM USUARIO_LOG U
WHERE U.FECHAHORA = GETDATE() AND U.IDUSUARIO = @ID AND U.ACCION = 'Logout';;



END
GO
/****** Object:  StoredProcedure [dbo].[sp_PopularHijosFamilia]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_PopularHijosFamilia]

@id_familia int

as

begin

 SET NOCOUNT ON;

    WITH recursivo AS (
        SELECT sp2.id_permiso_padre, sp2.id_permiso_hijo
        FROM permiso_permiso sp2
        WHERE sp2.id_permiso_padre = @id_familia
        UNION ALL

        SELECT sp.id_permiso_padre, sp.id_permiso_hijo
        FROM permiso_permiso sp
        INNER JOIN recursivo r ON r.id_permiso_hijo = sp.id_permiso_padre
    )
    SELECT 
        r.id_permiso_padre,
        r.id_permiso_hijo,
        p.id,
        p.nombre,
        p.es_patente
    FROM recursivo r
    INNER JOIN permiso p ON r.id_permiso_hijo = p.id;

end
GO
/****** Object:  StoredProcedure [dbo].[SP_Producto_GuardarHistorial]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Producto_GuardarHistorial]
(
    @ID_PRODUCTO INT,
    @NOMBRE VARCHAR(50),
    @DESCRIPCION VARCHAR(MAX),
    @PRECIO DECIMAL(18,2),
    @STOCK INT,
    @ACCION VARCHAR(MAX),
    @USUARIO INT
)
AS
BEGIN
    INSERT INTO PRODUCTO_HISTORIAL
    (ID_PRODUCTO, NOMBRE, DESCRIPCION, PRECIO, STOCK, FECHA, ACCION, USUARIO)
    VALUES
    (@ID_PRODUCTO, @NOMBRE, @DESCRIPCION, @PRECIO, @STOCK, GETDATE() ,@ACCION, @USUARIO)
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_Producto_RestaurarDesdeHistorial]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Producto_RestaurarDesdeHistorial]
(
    @ID_PRODUCTO INT
)
AS
BEGIN
    DECLARE @NOMBRE VARCHAR(50),
            @DESCRIPCION VARCHAR(MAX),
            @PRECIO DECIMAL(18,2),
            @STOCK INT;

    -- Traer última versión válida
    SELECT TOP 1
        @NOMBRE = NOMBRE,
        @DESCRIPCION = DESCRIPCION,
        @PRECIO = PRECIO,
        @STOCK = STOCK
    FROM PRODUCTO_HISTORIAL
    WHERE ID_PRODUCTO = @ID_PRODUCTO
    ORDER BY FECHA DESC;

    -- Restaurar
    UPDATE PRODUCTO
    SET NOMBRE = @NOMBRE,
        DESCRIPCION = @DESCRIPCION,
        PRECIO = @PRECIO,
        STOCK = @STOCK
    WHERE ID_PRODUCTO = @ID_PRODUCTO;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReportUserActionsMonthlySummary]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ReportUserActionsMonthlySummary]

AS

BEGIN

 SELECT 
        usrLG.ACCION,
		DATENAME(MONTH, usrLG.FECHAHORA) AS MES,   -- Month name (e.g., 'January')
        MONTH(usrLG.FECHAHORA) AS MES_NUMERO,
        COUNT(usrLG.IDLOG) AS CANTIDAD_LOGS
    FROM dbo.USUARIO_LOG usrLG
    INNER JOIN dbo.USUARIO USR 
        ON USR.IDUSUARIO = usrLG.IDUSUARIO
    WHERE YEAR(usrLG.FECHAHORA) = YEAR(GETDATE())
    GROUP BY 
        DATENAME(MONTH, usrLG.FECHAHORA),
        MONTH(usrLG.FECHAHORA),
        
        usrLG.ACCION
    ORDER BY MES, usrLG.ACCION;

END

GO
/****** Object:  StoredProcedure [dbo].[sp_Traduccion_Guardar]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insertar o actualizar traducción
CREATE PROCEDURE [dbo].[sp_Traduccion_Guardar]
    @IdiomaId INT,
    @Etiqueta NVARCHAR(100),
    @Texto NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdEtiqueta INT;

    -- Obtener el IdEtiqueta correspondiente (crear si no existe)
    SELECT @IdEtiqueta = IdEtiqueta
    FROM ETIQUETA
    WHERE Nombre = @Etiqueta;

    IF @IdEtiqueta IS NULL
    BEGIN
        INSERT INTO ETIQUETA (Nombre) VALUES (@Etiqueta);
        SET @IdEtiqueta = SCOPE_IDENTITY();
    END

    -- Actualizar si ya existe traducción para este idioma y etiqueta
    IF EXISTS (SELECT 1 FROM Traducciones WHERE IdEtiqueta = @IdEtiqueta AND IdiomaId = @IdiomaId)
    BEGIN
        UPDATE Traducciones
        SET Texto = @Texto
        WHERE IdEtiqueta = @IdEtiqueta AND IdiomaId = @IdiomaId;
    END
    ELSE
    BEGIN
        INSERT INTO Traducciones (IdEtiqueta, Texto, IdiomaId)
        VALUES (@IdEtiqueta, @Texto, @IdiomaId);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Traduccion_ObtenerPorIdioma]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener traducciones por idioma
CREATE PROCEDURE [dbo].[sp_Traduccion_ObtenerPorIdioma]
    @IdiomaId INT
AS
BEGIN
    SELECT E.Nombre AS Etiqueta, T.Texto 
	FROM Traducciones T
	JOIN ETIQUETA E ON E.IdEtiqueta = T.IdEtiqueta 
	WHERE T.IdiomaId = @IdiomaId
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Verificar_Integridad_Productos]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Verificar_Integridad_Productos]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DVV_actual NVARCHAR(100);
    DECLARE @DVV_guardado NVARCHAR(100);
    DECLARE @IntegridadOk BIT;

    -- Recalculate current DVV from PRODUCTO table
    SELECT @DVV_actual = CONVERT(VARCHAR(32), HASHBYTES('MD5',
                                STRING_AGG(COALESCE(DVH, ''), '')
                             ), 2)
    FROM PRODUCTO;

    -- Get stored DVV from DVV_TABLAS
    SELECT @DVV_guardado = DVV 
    FROM DVV_TABLAS 
    WHERE NOMBRE_TABLA = 'PRODUCTO';

    -- Compare and assign BIT value
    IF (@DVV_actual = @DVV_guardado)
        SET @IntegridadOk = 1;
    ELSE
        SET @IntegridadOk = 0;

    -- Return result
    SELECT @IntegridadOk AS IntegridadValida;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Verificar_Integridad_Productos_2]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Verificar_Integridad_Productos_2]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DVV_actual NVARCHAR(100);
    DECLARE @DVV_guardado NVARCHAR(100);
    DECLARE @IntegridadOk BIT;

    -------------------------------------------------------
    -- 1. Verificar DVH de cada fila
    -------------------------------------------------------
    ;WITH VerificacionDVH AS
    (
        SELECT 
            p.ID_PRODUCTO,
            p.NOMBRE,
            p.DESCRIPCION,
            p.PRECIO,
            p.STOCK,
            p.DVH AS DVH_Guardado,

            -- Recalcular DVH actual
            CONVERT(VARCHAR(32), HASHBYTES('MD5',
                CONCAT(
                    CAST(p.ID_PRODUCTO AS VARCHAR(10)),
                    p.NOMBRE,
                    p.DESCRIPCION,
                    CAST(p.PRECIO AS VARCHAR(20)),
                    CAST(p.STOCK AS VARCHAR(10))
                )
            ), 2) AS DVH_Calculado
        FROM PRODUCTO p
    )
    SELECT 
        ID_PRODUCTO,
        NOMBRE,
        DESCRIPCION,
        PRECIO,
        STOCK,
        DVH_Guardado,
        DVH_Calculado
    INTO #ProductosCorruptos
    FROM VerificacionDVH
    WHERE DVH_Guardado <> DVH_Calculado;  -- Filas corruptas


    -------------------------------------------------------
    -- 2. Verificar DVV (hash de todos los DVH)
    -------------------------------------------------------
    SELECT @DVV_actual =
        CONVERT(VARCHAR(32), HASHBYTES('MD5',
            STRING_AGG(COALESCE(DVH, ''), '')
        ), 2)
    FROM PRODUCTO;

    SELECT @DVV_guardado = DVV 
    FROM DVV_TABLAS 
    WHERE NOMBRE_TABLA = 'PRODUCTO';


    -------------------------------------------------------
    -- 3. Integridad global
    -------------------------------------------------------
    IF (@DVV_actual = @DVV_guardado AND NOT EXISTS(SELECT 1 FROM #ProductosCorruptos))
        SET @IntegridadOk = 1;
    ELSE
        SET @IntegridadOk = 0;


    -------------------------------------------------------
    -- 4. Devolver resultados
    -------------------------------------------------------
    SELECT @IntegridadOk AS IntegridadValida;

    -- Lista de productos corruptos
    SELECT * FROM #ProductosCorruptos;

END;
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_DVH_PRODUCTO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_DVH_PRODUCTO]
AS
BEGIN
    SET NOCOUNT ON;

    -- Recalculate DVH for each row using MD5 hash
    UPDATE p
    SET p.DVH = CONVERT(VARCHAR(32), HASHBYTES('MD5',
                    CONCAT(
                        CAST(p.ID_PRODUCTO AS VARCHAR(10)),
                        p.NOMBRE,
                        p.DESCRIPCION,
                        CAST(p.PRECIO AS VARCHAR(20)),
                        CAST(p.STOCK AS VARCHAR(10))
                    )
                ), 2)
    FROM PRODUCTO p;
END;
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_DVV_PRODUCTO]    Script Date: 11/19/2025 9:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_DVV_PRODUCTO]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DVV NVARCHAR(100);

    -- Calculate the DVV (hash of all DVH values concatenated)
    SELECT @DVV = CONVERT(VARCHAR(32), HASHBYTES('MD5',
                        STRING_AGG(COALESCE(DVH, ''), '')
                    ), 2)
    FROM PRODUCTO;

    -- Merge result into DVV_TABLAS
    MERGE DVV_TABLAS AS target
    USING (SELECT 'PRODUCTO' AS NOMBRE_TABLA, @DVV AS DVV) AS src
    ON target.NOMBRE_TABLA = src.NOMBRE_TABLA
    WHEN MATCHED THEN
        UPDATE SET target.DVV = src.DVV
    WHEN NOT MATCHED THEN
        INSERT (NOMBRE_TABLA, DVV) VALUES (src.NOMBRE_TABLA, src.DVV);
END;
GO
USE [master]
GO
