USE [master]
GO
/****** Object:  Database [TecnoComDB]    Script Date: 7/10/2025 7:21:48 PM ******/
CREATE DATABASE [TecnoComDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TecnoComDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TecnoComDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TecnoComDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TecnoComDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TecnoComDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TecnoComDB]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 7/10/2025 7:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[DNI] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[ID_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[DNI_CLIENTE] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[TOTAL] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA_PRODUCTO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA_PRODUCTO](
	[ID_FACTURA] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[ID_PERMISO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
 CONSTRAINT [PK_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
	[PRECIO] [decimal](18, 0) NOT NULL,
	[STOCK] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[IDROL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[IDROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL_PERMISO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_PERMISO](
	[IDROL] [int] NOT NULL,
	[ID_PERMISO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[IDROL] [int] NOT NULL,
	[FECHA_NACIMIENTO] [datetime] NOT NULL,
	[ACTIVO] [bit] NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASSWORD_HASH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_LOG]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_LOG](
	[IDLOG] [int] IDENTITY(1,1) NOT NULL,
	[IDUSUARIO] [int] NOT NULL,
	[FECHAHORA] [datetime] NOT NULL,
	[ACCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO_LOG] PRIMARY KEY CLUSTERED 
(
	[IDLOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ALTA_CLIENTE]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALTA_CLIENTE]

@DNI INT,
@NOMBRE VARCHAR(50),
@APELLIDO VARCHAR(50),
@EMAIL VARCHAR(50)

AS

BEGIN

INSERT INTO CLIENTE (DNI, NOMBRE, APELLIDO, EMAIL, ACTIVO)
VALUES (@DNI, @NOMBRE, @APELLIDO, @EMAIL, 1);


END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_FACTURA]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALTA_FACTURA]

@DNI INT,
@TOTAL DECIMAL(18,0),
@FECHA DATETIME

AS

BEGIN

INSERT INTO DBO.FACTURA 
VALUES (@DNI, @FECHA, @TOTAL);

END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_PERMISO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALTA_PERMISO]
@NOMBRE VARCHAR(50),
@DESCRIPCION VARCHAR(MAX)

AS

BEGIN
INSERT INTO PERMISO
VALUES (@NOMBRE, @DESCRIPCION);

END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_PERMISO_ROL]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALTA_PERMISO_ROL]
@IDROL INT,
@IDPERMISO INT

AS

BEGIN
INSERT INTO ROL_PERMISO
VALUES (@IDROL, @IDPERMISO);

END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_PRODUCTO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALTA_PRODUCTO]

@NOMBRE VARCHAR(50),
@DESCRIPCION VARCHAR(MAX),
@PRECIO DECIMAL(18,0),
@STOCK INT

AS

BEGIN

INSERT INTO PRODUCTO (NOMBRE, DESCRIPCION, PRECIO, STOCK)
VALUES (@NOMBRE, @DESCRIPCION, @PRECIO, @STOCK);

END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_ROL]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALTA_ROL]
@NOMBRE VARCHAR(50),
@DESCRIPCION VARCHAR(MAX)

AS

BEGIN
INSERT INTO ROL
VALUES (@NOMBRE, @DESCRIPCION);

END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_USUARIO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ALTA_USUARIO]
@pNOMBRE VARCHAR(50),
@pAPELLIDO VARCHAR(50),
@pIDROL INT,
@pFECHA_NACIMIENTO DATETIME,
@pEMAIL VARCHAR(50),
@pPASSWORD_HASH VARCHAR(50)

AS

BEGIN

INSERT INTO USUARIO ( NOMBRE, APELLIDO, IDROL, FECHA_NACIMIENTO, ACTIVO, EMAIL, PASSWORD_HASH )
VALUES (@pNOMBRE, @pAPELLIDO, @pIDROL,  @pFECHA_NACIMIENTO, 1 , @pEMAIL , @pPASSWORD_HASH );


END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_UsuarioLog]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALTA_UsuarioLog]

@IDUSUARIO INT,
@ACCION VARCHAR(50)

AS

BEGIN

INSERT INTO USUARIO_LOG (IDUSUARIO, FECHAHORA, ACCION)
VALUES (@IDUSUARIO, GETDATE(), @ACCION);


END

GO
/****** Object:  StoredProcedure [dbo].[AltaItemFacturaProducto]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AltaItemFacturaProducto]

@IdFactura INT,
@IdProducto INT

AS

BEGIN

INSERT INTO DBO.FACTURA_PRODUCTO (ID_FACTURA, ID_PRODUCTO)
VALUES (@IdFactura, @IdProducto);

END

GO
/****** Object:  StoredProcedure [dbo].[BAJA_PERMISO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[BAJA_PERMISO]

@ID INT

AS

BEGIN

DELETE FROM PERMISO
WHERE ID_PERMISO = @ID;

DELETE FROM ROL_PERMISO
WHERE ID_PERMISO = @ID;

END

GO
/****** Object:  StoredProcedure [dbo].[BAJA_PERMISO_ROL]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[BAJA_PERMISO_ROL]

@IDROL INT,
@IDPERMISO INT

AS

BEGIN

DELETE FROM ROL_PERMISO
WHERE IDROL = @IDROL AND ID_PERMISO = @IDPERMISO;

END

GO
/****** Object:  StoredProcedure [dbo].[BAJA_ROL]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[BAJA_ROL]

@ID INT

AS

BEGIN

DELETE FROM ROL
WHERE IDROL = @ID;

DELETE FROM ROL_PERMISO
WHERE IDROL = @ID;

END

GO
/****** Object:  StoredProcedure [dbo].[BAJA_USUARIO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[BAJA_USUARIO] 

@pIDUSUARIO INT

AS

BEGIN

UPDATE USUARIO
SET ACTIVO = 0 
WHERE IDUSUARIO = @pIDUSUARIO;


END
GO
/****** Object:  StoredProcedure [dbo].[BORRAR_CLIENTE]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[BORRAR_CLIENTE]

@DNI INT


AS

BEGIN

UPDATE CLIENTE
SET ACTIVO = 0
WHERE DNI = @DNI;

END


GO
/****** Object:  StoredProcedure [dbo].[LISTAR_CLIENTES]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[LISTAR_CLIENTES]

AS 

BEGIN

SELECT *
FROM CLIENTE C
WHERE C.ACTIVO = 1;

END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_FACTURAS]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LISTAR_FACTURAS]

as

begin

select *
from FACTURA F
join CLIENTE C on C.DNI = F.DNI_CLIENTE ;

end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_LOGS_USUARIO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[LISTAR_LOGS_USUARIO]

@IDUSUARIO INT
AS

BEGIN

SELECT UL.IDLOG, UL.IDUSUARIO, UL.FECHAHORA, UL.ACCION
FROM USUARIO_LOG UL
WHERE UL.IDUSUARIO = @IDUSUARIO;


END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PERMISOS]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTAR_PERMISOS]

AS

BEGIN

SELECT *
FROM PERMISO;

END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PRODUCTOS]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LISTAR_PRODUCTOS]

AS

BEGIN

SELECT * 
FROM PRODUCTO;

END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PRODUCTOS_FACTURA]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTAR_PRODUCTOS_FACTURA]

@ID_FACTURA INT

AS

BEGIN

SELECT P.ID_PRODUCTO, P.NOMBRE, P.DESCRIPCION, P.PRECIO, P.STOCK
FROM     dbo.FACTURA F
INNER JOIN dbo.FACTURA_PRODUCTO FP ON F.ID_FACTURA = FP.ID_FACTURA 
INNER JOIN dbo.PRODUCTO P ON FP.ID_PRODUCTO = P.ID_PRODUCTO
WHERE F.ID_FACTURA = @ID_FACTURA;

END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ROLES]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTAR_ROLES]

AS

BEGIN

SELECT * 
FROM ROL;

END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIOS]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LISTAR_USUARIOS] 

AS

BEGIN

SELECT U.IDUSUARIO, U.NOMBRE,U.APELLIDO,R.IDROL, R.NOMBRE AS NOMBRE_ROL, R.DESCRIPCION ,
       U.FECHA_NACIMIENTO,U.ACTIVO , U.EMAIL, U.PASSWORD_HASH
FROM USUARIO U
JOIN ROL R ON R.IDROL = U.IDROL
WHERE U.ACTIVO = 1;


END

GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_CLIENTE]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MODIFICAR_CLIENTE]

@DNI INT,
@NOMBRE VARCHAR(50),
@APELLIDO VARCHAR(50),
@EMAIL VARCHAR(50)


AS

BEGIN

UPDATE CLIENTE
SET NOMBRE = @NOMBRE, APELLIDO = @APELLIDO, EMAIL = @EMAIL
WHERE DNI = @DNI;

END

GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_PERMISO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[MODIFICAR_PERMISO]

@ID INT,
@NOMBRE VARCHAR(50),
@DESCRIPCION VARCHAR(MAX)


AS

BEGIN

UPDATE PERMISO
SET NOMBRE = @NOMBRE, DESCRIPCION = @DESCRIPCION
WHERE ID_PERMISO = @ID;

END

GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_ROL]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[MODIFICAR_ROL]

@ID INT,
@NOMBRE VARCHAR(50),
@DESCRIPCION VARCHAR(MAX)


AS

BEGIN

UPDATE ROL
SET NOMBRE = @NOMBRE, DESCRIPCION = @DESCRIPCION
WHERE IDROL = @ID;

END

GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_STOCK_PRODUCTO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[MODIFICAR_STOCK_PRODUCTO]

@ID INT,
@STOCK INT

AS

BEGIN

UPDATE PRODUCTO 
SET STOCK = @STOCK
WHERE ID_PRODUCTO = @ID;

END

GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_USUARIO]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[MODIFICAR_USUARIO]

@pIDUSUARIO INT,
@pNOMBRE VARCHAR(50),
@pAPELLIDO VARCHAR(50),
@pIDROL INT,
@pEMAIL VARCHAR(50),
@pPASSWORD_HASH VARCHAR(50)


AS

BEGIN

UPDATE USUARIO
SET NOMBRE = @pNOMBRE, APELLIDO = @pAPELLIDO, IDROL = @pIDROL, EMAIL = @pEMAIL, PASSWORD_HASH = @pPASSWORD_HASH
WHERE IDUSUARIO = @pIDUSUARIO;



END

GO
/****** Object:  StoredProcedure [dbo].[OBTENER_PERMISOS_ROL]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[OBTENER_PERMISOS_ROL]

@IdRol INT

AS

BEGIN

SELECT P.ID_PERMISO, P.NOMBRE, P.DESCRIPCION
FROM PERMISO P
JOIN ROL_PERMISO R_P ON R_P.ID_PERMISO = P.ID_PERMISO
WHERE R_P.IDROL = @IdRol;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerLoginUsuarioHOY]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ObtenerLoginUsuarioHOY]
@ID INT


AS

BEGIN

SELECT U.IDUSUARIO, U.ACCION, U.FECHAHORA
FROM USUARIO_LOG U
WHERE  U.FECHAHORA = GETDATE() AND  U.IDUSUARIO = @ID AND U.ACCION = 'Login';



END

GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerLogoutUsuarioHOY]    Script Date: 7/10/2025 7:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_ObtenerLogoutUsuarioHOY]
@ID INT


AS

BEGIN

SELECT U.IDUSUARIO, U.ACCION, U.FECHAHORA
FROM USUARIO_LOG U
WHERE U.FECHAHORA = GETDATE() AND U.IDUSUARIO = @ID AND U.ACCION = 'Logout';;



END
GO
USE [master]
GO
